global
  daemon
  log 127.0.0.1    local0
  log 127.0.0.1   local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log               global
  mode              http
  maxconn           2000
  option            httplog
  timeout connect   5000
  timeout client    5000
  timeout server    5000

frontend cs_forwarder
  bind *:80
  mode http
  use_backend teamserver

backend teamserver
  mode http
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  server teamserver_1 127.0.0.1:80 check
